@charset "ISO-8859-1";
/* Color Scheme
#B6D981 light green
#ADDDFF: light blue
#3E5C76: dark blue
#38536B: gray blue
#32373B: dark grey
#FFF187: pale yellow
#F8BFA0: light coral
#F4A57B: slightly darker coral
*/
* {
	box-sizing: border-box;
}

body {
	font-family: "Times New Roman", Times, serif;
	overflow: hidden;
	padding: 0;

}

.grid {
	display: grid;
	grid-template: 20% 70% 10% / 25% 75%;
	grid-gap: 0;
	height: 100vh;
	width: 100vw;

}
/* Style the header */
header {
	padding: 10px;
	text-align: center;
	font-size: 50px;
	color: white;
	margin: 0;
	background-color: #B6D981;
	grid-area: 1 / 1 / 2/ 3;
	line-height: 100%;
  font-family: Lucida, Times, Garamond, serif;
  font-weight: bold;
}

nav {
	background: #ADDDFF;
	padding: 0;
	margin: 0;
	grid-area: 2 / 1 / 3/ 2;
}

/* Style the list inside the menu */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding: 0;
}

/* Change color when you hover over link in nav */
nav.main li:hover {
	background-color: #1A1B41;
}

.active {
	background-color: #1A1B41;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15%;
	display: block;
}
.body li {
	display: block;
	margin: 10px;
	font-size: 16px;
}
form {
	padding: 20px;
	background-color: white;
	overflow-y: scroll;
  font-family: "Times New Roman", Times, serif;
}
textarea {
	display: block;
	width: 50%;
	resize: none;
	border-radius: 3px;
}
label {
	display: block;
	margin-top: 10px;
}

#signup-form label {
	display: inline-block;
}

input {
	display: inline-block;
}

.interests label {
	display: inline-block;
	width: 50px;
	margin: 5px 30px;
}

button {
	margin-top: 20px;
}



/* Clear floats after the columns */
section:after {
	content: "";
	display: table;
	clear: both;
}

.body {
	grid-area: 2 / 2 / 3/ 3;
	padding: 30px;
	margin: 0;
  overflow-y:scroll;
  font-size: 20px;
  color: #38536B
}

/* Style the footer */
footer {
	background-color: #F8BFA0;
	padding: 5px;
	text-align: center;
	color: white;
	grid-area: 3 / 1/ 4/ 3;
  font-size:20px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media ( max-width : 600px) {
	nav, article {
		width: 100%;
		height: auto;
	}
}


#resources {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: row;
}
.header {
	grid-area: 1 / 1 / span 1 / span 2;
}

.item {
	background-color:#FFF187;
	padding: 10px;
	max-height: 300px;
	margin: 10px;
	color: #3E5C76;
	
}

.login {
	margin: auto;
	/*background-color: #ADDDFF;*/
}



label.login {
	padding: 2px;
}

nav.dashboard li  {
	display: inline-block;
	padding: 0;
	margin: 0;
}
*/
nav.dashboard li:hover {
	background-color:  #ADDDFF;
}
.dashboard {
	background-color: white;
}
nav.dashboard button {
	background-color: white;
	border: none;
	margin: 0px;
	color: #32373B;
	padding: 5px 10px;
	border-bottom: 2px solid #32373B;
}
nav.dashboard button:hover {
	background-color:  #ADDDFF;
}
nav.dashboard button:focus {
	background-color: #ADDDFF;
}

#deliveries {
	display: none;
	
}

#contact {
	display: none;
}


